*
# Allowing the following files
!.gitignore
!Main.java
!Matrix.java
!Rational.java
!Constant.java
!Decimal.java
!MathLib.java
!Vector.java
!Dimensional.java
!MultiDimensional.java
!README.md
!LICENSE